In [5]:
import pandas as pd
import numpy as np

In [ ]:
INPUT_FILE = r'C:\Users\SandUpt\Desktop\thesis writing\HPI Server\evaluations\self_correction\qwen_zh_en_70_30_eval2\results.csv'
OUTPUT_FILE = r'C:\Users\SandUpt\Desktop\thesis writing\HPI Server\evaluations\self_correction\qwen_zh_en_70_30_eval2\sampled_100_translations.csv'
RANDOM_SEED = 50

In [34]:

df = pd.read_csv(INPUT_FILE)
print(f"Total rows: {len(df)}")

Total rows: 5000

In [35]:

sampled_df = df.sample(n=100, random_state=RANDOM_SEED)

sampled_df = sampled_df.reset_index(drop=False)
sampled_df = sampled_df.rename(columns={'index': 'original_row_index'})

In [36]:
sampled_df.to_csv(OUTPUT_FILE, index=False)
print(f"Saved {len(sampled_df)} rows to {OUTPUT_FILE}")

Saved 100 rows to C:\Users\SandUpt\Desktop\thesis writing\HPI Server\evaluations\self_correction\qwen_zh_en_70_30_eval2\sampled_100_translations.csv

In [ ]:

display(sampled_df[['source', 'reference', 'initial_translation', 'analysis', 'corrected_translation']].head(3))

,source,reference,initial_translation,analysis,corrected_translation
0,最后，对伊朗进行军事打击也将标志着一场地区性并且可能是全球性军事和恐怖活动升级与扩大的开始，...,"Finally, a military attack on Iran would also ...","Finally, a military strike on Iran would mark ...",the translation accurately captures the meaning,"Finally, a military strike on Iran would mark ..."
1,发自剑桥 — — 美联储正就一项法律提案与国会议员进行交锋，该法案名为美国联邦储备委员会问责...,CAMBRIDGE – The US Federal Reserve is battling...,CAMBRIDGE – The Federal Reserve is in the mids...,the translation accurately captures the meaning,CAMBRIDGE – The Federal Reserve is in the mids...
2,而这在一定程度上还是要归功于这位老独裁者。 由于在其死前恢复了国王胡安▪卡洛斯领导下的君主政...,"Here the old dictator can take some credit, fo...","Franco, the old dictator, provided Spain with ...",the translation accurately captures the meaning,"Franco, the old dictator, provided Spain with ..."

:

In [11]:
INPUT_FILE = r'C:\Users\SandUpt\Desktop\thesis writing\HPI Server\evaluations\self_correction\qwen_de_en\results.csv'
OUTPUT_FILE = r'C:\Users\SandUpt\Desktop\thesis writing\HPI Server\evaluations\self_correction\qwen_de_en\sampled_100_translations_de_en_50_50.csv'
RANDOM_SEED = 42

In [12]:

df = pd.read_csv(INPUT_FILE)
print(f"Total rows: {len(df)}")

Total rows: 5000

In [13]:

sampled_df = df.sample(n=100, random_state=RANDOM_SEED)

sampled_df = sampled_df.reset_index(drop=False)
sampled_df = sampled_df.rename(columns={'index': 'original_row_index'})

In [14]:

sampled_df.to_csv(OUTPUT_FILE, index=False)
print(f"Saved {len(sampled_df)} rows to {OUTPUT_FILE}")

Saved 100 rows to C:\Users\SandUpt\Desktop\thesis writing\HPI Server\evaluations\self_correction\qwen_de_en\sampled_100_translations_de_en_50_50.csv

In [15]:

display(sampled_df[['source', 'reference', 'initial_translation', 'analysis', 'corrected_translation']].head(3))

,source,reference,initial_translation,analysis,corrected_translation
0,"Diejenigen, die leistungsstarke Kinder untersu...",Those who study high achievers say they often ...,Those who study high-achieving children say th...,the translation accurately captures the meaning,Those who study high-achieving children say th...
1,Bis zu 2000 Arbeitsplätze in der Anlage von Al...,Up to 2000 jobs may be at risk at Alcoa's Port...,Up to 2000 jobs in the Alcoa plant in Portland...,"The German ""Arbeitsplätze in der Anlage von Al...",Up to 2000 jobs at the Alcoa plant in Portland...
2,Im Mai veröffentlichte die Agentur die Ergebni...,"In May, the agency released the results of 581...","In May, the agency published the results of 58...","The German ""vorschlagen, dass die untersuchte ...","In May, the agency published the results of 58..."